html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}
:root {
  color-scheme: light dark;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

h1 {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


body {
  background: #2d2c30 !important;
}

h2 {
  color: #ffffff !important;
  font-size: 25px;
  font-weight: 900;
}

footer p {
  color: #3e08e0 !important;
  font-size: 15px;
  text-decoration: underline;
}